.rounded {
    border-radius: 0.4rem
}

.texture {
    background-image: url("https://www.transparenttextures.com/patterns/noisy.png");
}

.texture2 {
    background-image: url("https://www.transparenttextures.com/patterns/black-twill.png");
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: -10
}

.deletebtn {
    position: absolute;
    right: 4rem;
    padding-top: 0.4rem    
}

.logo {
    height: 3rem;
    width: 3rem;    
    object-fit: cover;
    border-radius: 100rem;
}

.logoSm {
    height: 1.2rem;
    width: 1.2rem;    
    object-fit: cover;
    border-radius: 100rem;
}

td {
    vertical-align: middle !important;
}

.table td, .table th {
    border: 0px !important;
}

.sticky2 {
     position: sticky;
     top: 0;
}

.z-10 {
z-index: 10 !important;
}

.z-5 {
z-index: -10 !important;
}

* {
    transition: 0.4s ease-in-out;
}